<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Módulo Refeitorio</title>
    <link rel="icon" type="image/x-icon" href="{% static 'refeicao.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
</head>
<body>
   <h2>Terceiros Cadastrados</h2>

                    <table class="table table-hover" width="100%" border="1">
                        <colgroup>
                            <col width="5%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="5%">
                            <col width="5%">
                            <col width="5%">
                            <col width="5%">
                            <col width="5%">
                        </colgroup>
                        <thead>

                            <tr class="table-success">
                                <td><b>Matricula</b></td>
                                <td><b>Nome</b></td>
                                <td><b>Empresa Terceira</b></td>
                                <td><b>Documento</b></td>
                                <td><b>Credencial</b></td>
                                <td><b>Visitado</b></td>
                                <td><b>Grupo de Refeição</b></td>
                                <td><b>Data Inicio</b></td>
                                <td><b>Hora Inicio</b></td>
                                <td><b>Data Final</b></td>
                                <td><b>Hora Final </b></td>
                                <td><b> Empresa </b></td>
                            </tr>
                        </thead>
                        <tbody>
                                {% for ter in terceiro %}
                                    <tr class="table-warning">
                                        <td>{{ ter.matricula }}</td>
                                        <td>{{ ter.nome }}</td>
                                        <td>{{ ter.emp_ter }}</td>
                                        <td>{{ ter.documento }}</td>
                                        <td>{{ ter.credencial }}</td>
                                        <td>{{ ter.func.nome }}</td>
                                        <td>{{ ter.grup_ref.nome }}</td>
                                        <td>{{ ter.data_inicio|date:"d/m/Y" }}</td>
                                        <td>{{ ter.hora_inicio }}</td>
                                        <td>{{ ter.data_fim|date:"d/m/Y" }}</td>
                                        <td>{{ ter.hora_fim }}</td>
                                        <td>{{ ter.empresa_id }}</td>
                                    </tr>
                                {%endfor %}

                       </tbody>
                    </table>
                   <a href=""> <button type="submit" name="voltar" class="btn btn-link disable">Voltar</button></a>
</body>
</html>
