<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Módulo Refeitorio</title>
    <link rel="icon" type="image/x-icon" href="{% static 'refeicao.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
</head>
<body>

<h2 style="text-align: center;">Evento de Refeições de Funcionários</h2>
<h5 style="text-align: right;">período {{data_inicial|date:"d/m/Y"}} à {{data_final|date:"d/m/Y"}}</h5>

                    <table class="table table-hover" width="100%" border="1">
                        <colgroup>
                            <col width="12%">
                            <col width="12%">
                            <col width="12%">
                            <col width="12%">
                            <col width="12%">
                            <col width="12%">
                            <col width="12%">
                            <col width="12%">
                        </colgroup>
                        <thead>
                            <tr class="table-success">


                                <td><b>Matricula</b></td>
                                <td><b>Nome</b></td>
                                <td><b>Data</b></td>
                                <td><b>Hora</b></td>
                                <td><b>equip_nome</b></td>
                                <td><b>Tipo_Refeicao</b></td>
                                <td><b>Valor</b></td>
                                <td><b>Empresa</b></td>
                            </tr>
                        </thead>
                        <tbody>
                                  {% for e in eventos_por_refeicao %}
                                    <tr class="table-warning">
                                        <td>{{ e.matricula }}</td>
                                        <td>{{ e.nome }}</td>
                                        <td>{{ e.data|date:"d/m/Y" }}</td>
                                        <td>{{ e.hora }}</td>
                                        <td>{{ e.nome_equipamento}}</td>
                                        <td>{{ e.tipo_refeicao }}</td>
                                        <td>{{ e.valor|floatformat:2 }}</td>
                                        <td>{{ e.empresa }}</td>

                                    </tr>
                                  {% empty %}
                                  <tr><td colspan="5">Nenhum evento encontrado</td> </tr>
                                    {%endfor %}

                        </tbody>
                    </table>
                    <a href=""> <button type="submit" name="voltar" class="btn btn-link disable">Voltar</button></a>
                    <button onclick="window.print()" name="imprimir" class="btn btn-link disable">Imprimir</button>
</body>
</html>